.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #1a1a1a;
  // width: calc(100vw - 250px);


  .title {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

  .actions {
    display: flex;
    align-items:center;
    gap: 25px;
    justify-content: space-between;
      mat-icon {
        color: #999;
        font-size: 20px;
        margin-right: 6px;
      }
    

    .notification-bell {
      font-size: 26px;
      color: #ccc;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #ffffff;
      }
    }
     .avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
  }
  }

  
  

 
}
