::ng-deep .mdc-text-field--filled {
  --mdc-filled-text-field-active-indicator-height: 0px !important;
  --mdc-filled-text-field-focus-active-indicator-height: 0px !important;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
  background-color: #1a1a1a;
  margin-left: 90px;
  // width: 100vw;

  width: calc(100vw - 128px);
  .company-logo {
    display: none;
  }
  .sideNav{
      display: none;
    }

  .title {
    font-size: 34px;
    font-weight: 600;
    color: #c0c0c2;
  }

  ::ng-deep .actions {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-between;
    .icon{
      display: none;
    }
    mat-icon {
      color: #999;
      font-size: 20px;
      margin-right: 6px;
    }

    .mat-mdc-text-field-wrapper {
      border-radius: 20px;
      font-size: 14px;
      height: 40px;
      width: 236px;
      --mdc-filled-text-field-focus-active-indicator-color: white --mdc-filled-text-field-focus-label-text-color: white;
      --mdc-filled-text-field-caret-color: white;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
      box-sizing: border-box;
      width: 100%;
      position: relative;
    }

    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
      padding-top: 8px;
      padding-bottom: 20px;
    }
    


    .notification {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #2b2b2b;
      border-radius: 50%;
      //  padding: 6px;
      background-color: #2b2b2b;

      .notification-bell {
        font-size: 20px;
        margin-right: 0px;
        color: #ccc;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #ffffff;
        }
      }
    }

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
@media(max-width: 768px){
  .navbar-container{
    width: 100vw;
  }
}
@media(max-width:500px) {
  .navbar-container {
    margin-left: 0px;
    padding: 12px 0px;
    width: calc(100vw - 40px);

    .company-logo {
      display: block;
      width: 40px;
      border-radius: 18px;
    }
    .title {
    font-size: 25px;
    font-weight: 600;
    color: #c0c0c2;
    margin-left: -30px;
}

    .actions {
      gap: 16px;
      .notification {
        margin-top: 0px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #2b2b2b;
        border-radius: 50%;
        background-color: #2b2b2b;
      }
      .icon{
      display: block;
    }
    }
    .sideNav {
            display: inline-block;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            background-color: #2c2c2c;
            padding: 15px;
            z-index: 9999;
            transform: translateX(100%);
            transition: transform 300ms ease-in-out;
            box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);

            &.active {
                transform: translateX(0);
            }

            p {
                text-align: end;
                cursor: pointer;
                color: white;
                &:hover {
                    color: #800000;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style: none;
                gap: 20px;
                padding: 30px;

                li {
                    font-size: 15px;
                    cursor: pointer;
                    color: white;
                    &:hover {
                        color: #800000;
                    }
                }
            }
        }
  }
}