<div class="navbar-container">
  <img class="company-logo" src="/assets/logo.png" alt="Company Logo" />

  <span class="title">{{ title }}</span>

  <div class="actions">
    <!-- <app-filter-tab></app-filter-tab> -->
    <!-- <mat-form-field class="example-full-width">
      <input matInput placeholder="Search">
    </mat-form-field> -->
    <div class="notification">
      <mat-icon class="notification-bell">notifications</mat-icon>
    </div>


    <img src="https://randomuser.me/api/portraits/men/32.jpg" class="avatar" alt="Profile" />
    <img
      class="icon"
      src="/assets/menu-burger-horizontal-svgrepo-com.svg"
      alt="Hamburger icon"
      width="20px"
      (click)="sideNavVisible = !sideNavVisible"
    />
  </div>
  <div [class.active]="sideNavVisible" class="sideNav">
        <p (click)="sideNavVisible = !sideNavVisible"><mat-icon>close</mat-icon></p>
        <ul>
            <li>Dashboard</li>
            <li>Analytics</li>
            <li>Subscription</li>
            <li>Logout</li>
        </ul>
    </div>
</div>