::ng-deep .mat-mdc-text-field-wrapper {
  --mdc-outlined-text-field-caret-color: white; 
  --mdc-outlined-text-field-focus-outline-color: white; 
  --mdc-outlined-text-field-focus-label-text-color: white;
  // border: 2px solid green;
}
::ng-deep .mat-mdc-text-field-wrapper
 {
    width: 320px;
}

::ng-deep mdc-text-field--outlined {
    --mdc-outlined-text-field-outline-width: 1px;
    --mdc-outlined-text-field-focus-outline-width: 2px;
    --mdc-outlined-text-field-container-shape: 4px;
    
  }
  ::ng-deep .mat-mdc-form-field-infix {
    flex: auto;
    min-width: 0;
    width: 400px !important;
    position: relative;
    // box-sizing: border-box;
    border-radius: 50px !important;
    // border: 2px solid red;

}

.filter{
      color: white;
      text-align: center;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      height: 9vh;
.search-field {
  border-radius: 88px;
  height: 80%;
  ::ng-deep input {
    padding-left: 10px;
    // border: 2px solid red;
    height: 100px;
  }
  .serach-btn{
      color: white;
  }
}

}