nav {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 20px;
    width: 215px;
    margin: 12px;
    background-color: #2c2c2c;
    border-radius: 20px;
    height: 96vh;
    transition: width 0.3s;

    p {
        img {
            width: 20px;
            margin: 61px 0px 40px 10px;
            cursor: pointer;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        img {
            width: 54px;
            border-radius: 18px;

        }

        h1 {
            font-size: 20px;
            color: white;
            font-weight: 600;
            overflow: hidden;
            white-space: nowrap;
            transition: width 0.3s ease;
        }
    }

    ul {
        list-style-type: none;
        color: #656565;
        display: flex;
        flex-direction: column;
        gap: 30px;

        li {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-left: 10px;
            cursor: pointer;
            font-weight: 500;

            &:hover {
                color: white;
                transition: color 0.3s ease;
            }

            img {
                width: 20px;
            }

            p {
                font-size: 15px;
                transition: width 0.3s ease;
                overflow: hidden;
                white-space: nowrap;
            }

            &:last-child {
                position: absolute;
                bottom: 32px;
                color: white;

            }
        }

    }

}

.sidebar-expand {

    width: 90px;

    .logo {
        h1 {
            width: 0;
            opacity: 0;
        }
    }

    ul {

        li {
            p {
                width: 0;
                opacity: 0;
            }
        }
    }

}