<div class="sidenav" [class.sidenav-closed]="!sidenavOpen">
  <button mat-icon-button class="toggle-button" (click)="toggleSidenav()">
    <mat-icon>{{ sidenavOpen ? "menu_open" : "menu" }}</mat-icon>
  </button>

  <div class="nav-container">
    <button mat-button class="nav-link" >
        <img src="/assets/dashboard.svg" alt="Dashboard">
      <span *ngIf="sidenavOpen">Dashboard</span>
    </button>
    <button mat-button class="nav-link" >
      <img src="/assets/bar-chart-svgrepo-com.svg" alt="Analytics">
      <span *ngIf="sidenavOpen">Analytics</span>
    </button>

    <button mat-button class="nav-link">
      <img src="/assets/wallet.svg" alt="Wallet">
      <span *ngIf="sidenavOpen">Wallet</span>
    </button>

    <button mat-button class="nav-link logout" >
      <img src="/assets/logout-svgrepo-com.svg" alt="Logout">
      <span *ngIf="sidenavOpen">Logout</span>
    </button>
  </div>
</div>

