.main-layout {
  
  .main-container {
    display: flex;
    width: 100%;

    .content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin-left: 0;
      transition: all 0.3s ease;
      padding: 1rem;
      text-align: center;
      // overflow-x: hidden;
    }
  }
  .home-banner{
    margin: 10px 0px 0px 128px;
    width: 86%;
    height: 230px;
    background-color: #05070d;
    padding: 0px 30px;
    border-radius: 19px;
    display: flex;
    align-items: center;
    .banner-heading{
       color: #f2f3f9;
       font-size: 36px;
       width: 500px;
       line-height: 55px;
    }
  }
  .main-section{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-evenly;
    .wallet{
    margin: 0px 0px 0px 128px;
    width: 500px;
    background-color: #2c2c2c;
    height:200px;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    font-family: 'Mona Sans';

    .wallet-heading{
      color: #f2f3f9;
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .wallet-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      .price-update{
        color: #34be9c;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
    .wallet-price{
      font-size: 26px;
      margin-bottom: 0px;
    }
    .wallet-buttons{
        display: flex;
        align-items:center;
        gap: 50px;
       .wallet-button{
           background-color: black;
           color: white;
           height: 50px;
           width: 50px;
           border-radius: 50%;
           border: none;
           padding: 10px;
       }
    }
  }

  .trending-coins{
    width: 600px;
    background-color: #2c2c2c;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Mona Sans';
    padding-top: 20px;
    .section-header{
      display: flex;
      flex-direction: row;
      padding:  0px 20px;
      justify-content: space-between;
      width: 100%;
      color: white;
    }
  }
  
  }
}