.main-layout {
  
  .main-container {
    display: flex;
    width: 100%;

    .content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin-left: 0;
      transition: all 0.3s ease;
      padding: 1rem;
      text-align: center;
      // overflow-x: hidden;
    }
  }
  .home-banner{
    margin: 10px 0px 0px 128px;
    width: 86%;
    height: 230px;
    background-color: #05070d;
    padding: 0px 30px;
    border-radius: 19px;
    display: flex;
    align-items: center;
    .banner-heading{
       color: #f2f3f9;
       font-size: 36px;
       width: 500px;
       line-height: 55px;
    }
  }
  .main-section{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    .wallet{
    margin: 0px 0px 0px 128px;
    width: 500px;
    background-color: #2c2c2c;
    height:200px;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
          font-family: 'Mona Sans';

    .wallet-heading{
      color: #f2f3f9;
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .wallet-price{
      font-size: 26px;
    }
  }

  .trending-coins{
    
  }
  }
}