.main-layout {

  .main-container {
    display: flex;
    width: 100%;

    .content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin-left: 0;
      transition: all 0.3s ease;
      padding: 1rem;
      text-align: center;
      // overflow-x: hidden;
    }
  }

  .banner-container {
    padding-right: 20px;

    .home-banner {
      margin: 10px 0px 0px 128px;
      // width: 90%;
      height: 230px;
      background-color: #05070d;
      padding: 0px 30px;
      border-radius: 19px;
      display: flex;
      align-items: center;
      flex: 1;



      .banner-heading {
        color: #f2f3f9;
        font-size: 36px;
        width: 500px;
        line-height: 55px;
      }
    }
  }

  .main-section-container {
    width: fit-content;
    .main-section {
      display: flex;
      margin-top: 20px;
      gap: 20px;
      margin-left: 18px;
      width: fit-content;

      .empty-space {
        width: 90px;
      }

      .right-space {
        flex: 1;
        display: flex;
        // grid-template-columns: auto auto;
        .wallet {
          // margin: 0px 20px 0px 128px;
          width: 360px;
          background-color: #ac88f6;
          height: 200px;
          border-radius: 19px;
          overflow-y: auto;
          font-family: 'Mona Sans';
          gap: 30px;


          .first-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: fit-content;
            padding: 15px;
            width: 100%;

            .wallet-heading {
              font-size: 14px;
              color: white;
              font-weight: 500;
            }

            .refresh-icon {
              color: white;
              font-size: 18px;
            }
          }

          .wallet-info {
            color: white;
            font-weight: 600;
            font-family: 'Mona Sans';
            padding-left: 20px;
          }

          .wallet-buttons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 20px;

            .wallet-button {
              background-color: white;
              border: none;
              height: 40px;
              width: 40px;
              border-radius: 50%;
              //  padding: 10px;
              display: flex;
              align-items: center;
              justify-content: center;

              .mat-icon {
                font-size: 18px;
                margin-top: 4.7px;
              }


            }

            .button-individual {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 5px;
            }

            p {
              font-size: 11px;
            }
          }
        }

        .trending-coins {

          background-color: #2c2c2c;
          border-radius: 19px;
          display: flex;
          flex-direction: column;
          // align-items: center;
          font-family: 'Mona Sans';
          padding: 20px 0px 0px 10px;
          width: 500px;
          // width: 55%;
          // margin-right: 20px;

          .section-header {
            display: flex;
            flex-direction: row;
            padding: 0px 20px;
            justify-content: space-between;
            width: 100%;
            color: white;
          }
        }
      }



    }
  }

}

@media(max-width:768px) {
  .main-layout {
    .banner-container {
      display: none;
      padding-right: 38px;
    }

    .main-section {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin-left: 128px;
      padding-right: 20px;

      .wallet {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0px;
      }

      .trending-coins {
        width: 100%;

      }
    }
  }
}

@media(max-width:500px) {
  .main-layout {
    .main-section {
      margin-left: 0px;
      padding: 20px;
    }
  }
}