<div class="price-card">
  <div class="left-section">
    <img [src]="icon" alt="{{ name }}" class="crypto-icon" />
    <div class="crypto-info">
      <h3>{{ name }}</h3>
      <p class="short">{{ shortName }}</p>
    </div>
  </div>

  <div class="center-section">
    <p class="price">{{ price }}</p>
    <p class="change" [ngClass]="{'negative': change.includes('-'), 'positive': !change.includes('-')}">
      {{ change }}
    </p>
  </div>

  <div class="right-section">
   
    <button class="trade-button">{{ button }}</button>
  </div>
</div>
