.price-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  width:550px;
  margin: 5px;
  background-color: #1a1a1a;
  color: white;
  .left-section {
    display: flex;
    align-items: center;

    .crypto-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 1rem;
    }

    .crypto-info {
      h3 {
        margin: 0;
        font-weight: 500;
        font-size: 1.2rem;
      }
      .short {
        color: gray;
        font-size: 0.85rem;
        margin: 0;
      }
    }
  }

  .center-section {
    text-align: center;
    padding-top: 18px;
    .price {
      font-size: 1.1rem;
      font-weight: 500;
    }
    .change {
      font-size: 0.9rem;
      &.negative {
        color: red;
      }
      &.positive {
        color: green;
      }
    }
  }

  .right-section {
    display: flex;
    align-items: center;

    .chart-img {
      width: 120px;
      height: 40px;
      object-fit: cover;
      margin-right: 1rem;
    }

    .trade-button {
      background: black;
      color: white;
      padding: 0.4rem 1rem;
      border-radius: 1rem;
      border: none;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
